<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Project Author:Primary Buyer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.min.css"/>
    <script src="bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>

</head>
<body>
    <div class="container">
        <br/>
        <br/>
        <h1><center>Project Author</center></h1>
        <br/>
        <br/>
        <form>
                <h2>Secondary Purchase</h2>
                <br/><br/> 
                <label>ISBN</label>
                <input type="text" name="isbn" placeholder="ISBN" onkeypress="return event.charCode >= 48 && event.charCode <= 57"> 
                <br/><br/>
                <label>Price</label>
                <input type="text" name="price" placeholder="Wei" onkeypress="return event.charCode >= 48 && event.charCode <= 57"> 
                <br/><br/>
                <input type="submit" value="Purchase">
        </form>
    </div>
</body>
</html>