<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Project Author:Publisher</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.min.css"/>
    <script src="-3.3.7bootstrap-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="./src/index.js"></script>
    <script src="./src/web3.min.js"></script>


</head>
<body>
    <div class="container">
        <br/>
        <br/>
        <h1><center>Project Author</center></h1>
        <br/>
        <br/>
        <form>
                <h2>Publish Book</h2>
                <label>Upload File</label>
                <input type="file" name="fileUpload">
                <br/>
                <br/>
                <br/>  
                <label>ISBN</label>
                <input type="text" name="isbn" placeholder="ISBN" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                <br/>
                <br/>
                <br/>
                <label>Price</label>
                <input type="text" name="price" placeholder="Wei" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                <br/>
                <br/>
                <br/>
                <label>Sale Commision</label>
                <input type="text" name="saleCommision" placeholder="Percentage %" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                <br/>
                <br/>
                <br/>
                <input type="submit" value="Publish">
        </form>
    </div>
    <div class="container">
        <h3>Withdraw Balance</h3>
        <input type="submit" value="GetCash">
    </div>
</body>
</html>

